/* real css */
@blue: rgba(0, 86, 180, 1);
@dark-blue: #1c1d53;

a {
    text-decoration: none;
    color: @blue;
}
html {
    height: 100%;
}

header {
    height: 4em;
    width: 100%;

    background: white;

    position: fixed;
    top: 0;

    z-index: 50;

    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}

body h1 {
    font-size: 3em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.7em;
}

body h2 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    color: @dark-blue;
}

.page-container {
    position: absolute;
    top: 4em;

    width: 100%;

    .contents .big-letters {
        margin-top: 2em;
        padding: 0.5em;
        font-size: 1.5em;
    }

    p {
        margin-top: 1em;
    }
}


.logo {
    .logo-span {
        width: 100px;
        height: 100px;
        position: absolute;
        top: -15px;

        background-image: url("../static/zbt-logo.png");
        background-size: contain;
    }


    max-width: 100px;
    margin-left: auto;
    margin-right: auto;

    @media(max-width: 800px) {
        margin-left: 2em;
    }

    height: 5em;
    line-height: 5em;

    z-index: 100;
    position: relative;
}

.nav {
    position: absolute;
    top: 2em;
    font-family: 'PT Sans';
    font-size: 0.9em;
    font-weight: bold;
    width: 100%;

    .left {
        padding-left: 2em;
        padding-right: 4em;
    }

    .right {
        padding-left: 4em;
        padding-right: 2em;
    }

    a {
        text-align: center;
        color: #777;
        &:hover {
            color: #333;
        }
    }

    .small-nav {
        display: none;
    }

    @media(max-width: 800px) {
        .small-nav {
            display: block;
            position: absolute;
            left: 150px;
            top: 0px;
        }
        .big-nav { display: none; }
    }
}

.background {
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;

    .caption {
        font-family: 'PT Sans',sans-serif;
        font-size: 4em;
        font-weight: bold;
        color: #DDD;
        padding-top: 2em;
        padding-left: 3em;
    }
}

#history.background {
    height: 350px;
    width: 100%;
}

#rush.background {
    height: 350px;
    background-size: fit;
    background-position-y: center;
}

.call-to-action {
    margin-top: 1em;
    margin-bottom: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: solid rgba(255, 255, 255, 1) 3px;
    cursor: pointer !important;border-radius: 0;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    width: 200px;

    span {
        font-family: 'PT Sans',sans-serif;
        font-size: 0.3em;
        color: #FFFFFF;
        transition: color 0.4s ease 0s;
        display: inline-block;
        padding: 1em;
        position: relative;
        white-space: nowrap;
    }

    &:hover {
        background-color: #FFF;
    }

    span:hover {
        color: @blue;
    }
}

.contents {
    max-width: 800px;

    margin-left: auto;
    margin-right: auto;

    @media (max-width: 800px) {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

.typography {
    font-family: 'PT Sans',sans-serif;
    color: #333;
    font-size: 1.2em;
}


.row {
    margin-top: 4em;
    height: 100%;
    min-height: 300px;

    .col {
        flex: 1;
    }

    .img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        min-height: 200px;
    }

    .desc {
        .desc-wrapper {
            padding: 2em;
            max-width: 400px;

            @media (max-width: 800px) {
                max-width: 800px;
            }
        }

        h2 {
            font-size: 1.5em;
            font-weight: bold;
        }
    }

    &.alt {
        flex-direction: row-reverse;
        .desc .desc-wrapper {
            margin-right: 0;
            margin-left: auto;
        }
    }
}

hr {
    max-width: 200px;
    height: 1px;
    border: 0;
    background-image: linear-gradient(to right, @blue, rgba(0, 100, 200, 1), @blue);

    margin-top: 3em;
    margin-bottom: 8em;
    margin-left: auto;
    margin-right: auto;
}

html body footer {
    margin-top: 5em;
    width: 100%;
    background-color: #282828;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.8em;
    justify-content: flex-end;

    div {
        margin: 0.2em;
        padding-right: 5em;
    }
    span {
        color: #777;
        font-family: 'PT Sans',sans-serif;
        padding: 0.5em;
    }
    a {
        color: #999;
    }
}

.image-gallery {
    margin: 2em;
}

@media (max-width: 800px) {
    .extra {
        display: none;
    }
}

.important {
    color: @dark-blue;
    a {
        white-space: nowrap;
    }
}

.extra {
    color: #bbb;
    font-size: 0.8em;
    padding-top: 2em;
}

.rush.flex {
    flex-direction: row-reverse;
}

.schedule {
    table {
        tr {
            padding: 0.3em;
        }
        th {
            font-weight: bold;
            padding-top: 2em;
            padding-bottom: 1em;
            color: @blue;
        }
    }
}

.flex {
    display: flex;
}

.flex-cell {
    flex: 1;
}

.flex-cell-bigger {
    flex: 2;
}

@media (max-width: 800px) {
    .flex {
        flex-direction: column !important;
    }
}
