/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* real css */
a {
    text-decoration: none;
    color: rgba(0, 86, 180, 1);
}
html {
    height: 100%;
}

header {
    height: 4em;
    width: 100%;

    background: white;

    position: fixed;
    top: 0;

    z-index: 50;
}

.page-container {
    position: absolute;
    top: 4em;

    width: 100%;
}

.logo img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
}

.logo .logo-pic {
    display: inline-block;
    width: 100px;
    position: relative;
}

.logo {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;

    height: 5em;
    line-height: 5em;

    z-index: 100;
    position: relative;
}

.nav {
    position: absolute;
    top: 2em;
    font-family: 'PT Sans';
    font-size: 0.9em;
    font-weight: bold;
    width: 100%;
}

.nav .left {
    padding-left: 2em;
    padding-right: 4em;
}

.nav .right {
    padding-left: 4em;
    padding-right: 2em;
}

.nav a {
    text-align: center;
    color: #777;
}

.background {
    background-image: linear-gradient(
                              rgba(0, 86, 180, 0.45),
                              rgba(0, 86, 180, 0.45)
                          ), url("./cover.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
}

.background .caption {
    font-family: 'PT Sans',sans-serif;
    font-size: 4em;
    font-weight: bold;
    color: #DDD;
    padding-top: 2em;
    padding-left: 3em;
}

.call-to-action {
    margin-top: 1em;
    margin-bottom: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: solid rgba(255, 255, 255, 1) 3px;
    cursor: pointer !important;border-radius: 0;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    width: 200px;
}

.call-to-action span {
    font-family: 'PT Sans',sans-serif;
    font-size: 0.3em;
    color: #FFFFFF;
    transition: color 0.4s ease 0s;
    display: inline-block;
    padding: 1em;
    position: relative;
    white-space: nowrap;
}

.call-to-action:hover {
    background-color: #FFF;
}

.call-to-action span:hover {
    color: rgba(0, 86, 180, 1);
}

.contents {
    max-width: 800px;

    margin-left: auto;
    margin-right: auto;
}


.page-container .contents .big-letters {
    margin-top: 2em;
    padding: 0.5em;
    font-family: 'PT Sans',sans-serif;
    font-size: 1.5em;
    color: #333;
}

.page-container p {
    margin-top: 1em;
}

.row {
    margin-top: 4em;
    height: 100%;
    display: flex;
    min-height: 300px;
}
.row div.col {
    flex: 1;
}

.row .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.row .desc .desc-wrapper {
    padding: 2em;
    max-width: 400px;
}

.row.alt .desc .desc-wrapper {
    margin-right: 0;
    margin-left: auto;
}

.row .desc p {
    font-family: 'PT Sans',sans-serif;
    font-size: 1.2em;
    color: #333;
}
.row .desc h2 {
    font-family: 'PT Sans',sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

#excellence .img {
    background-image: url("./excellence.jpg");
}
#rush .img {
    background-image: url("./rush.jpg");
}
#party .img {
    background-image: url("./party.jpg");
}

hr {
    max-width: 200px;
    height: 1px;
    border: 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 86, 180, 1), rgba(0, 100, 200, 1), rgba(0, 86, 180, 1));
    background-image:    -moz-linear-gradient(left, rgba(0, 86, 180, 1), rgba(0, 100, 200, 1), rgba(0, 86, 180, 1));
    background-image:     -ms-linear-gradient(left, rgba(0, 86, 180, 1), rgba(0, 100, 200, 1), rgba(0, 86, 180, 1));
    background-image:      -o-linear-gradient(left, rgba(0, 86, 180, 1), rgba(0, 100, 200, 1), rgba(0, 86, 180, 1));
    background-image:         linear-gradient(left, rgba(0, 86, 180, 1), rgba(0, 100, 200, 1), rgba(0, 86, 180, 1));

    margin-top: 3em;
    margin-bottom: 8em;
}

footer {
    margin-top: 5em;
    width: 100%;
    background-color: #282828;
    text-align: right;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
footer div {
    padding-right: 1em;
}
footer span {
    color: #777;
    font-family: 'PT Sans',sans-serif;
    padding: 0.5em;
}
footer a {
    color: #999;
}

.flex {
    display: flex;
}

.flex-cell {
    flex: 1;
}
